// Main colors
$background-color: #F7F7F7;
$product-color: #3146FF;
$text-color: #000000;
$secondary-color: #01FFCB;
$white-color: #FFFFFF;

// Text
$main-font: 'Poppins', sans-serif;
$second-font: 'Roboto', sans-serif;


// Padding:
$ml-20: 20px;
$p-20: 20px;