@import '_variables';

.accordion {
    background-color: $background-color;
    color: $text-color;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #cccccc;
}

.accordion:focus{
    color: $product-color;
}

.active, .accordion:hover {
    background-color: $background-color;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    p{
        font-family: $second-font;
    }
}

.accordion-arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 10px;
}
@media only screen and (min-width: 769px){
    .main-accordion{
        width: 80%;
        padding-left: 10%;
    }
}